.input-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}

.input-box {
    border: 0;
    width: 60%;
    padding: 20px;
    font-size: 17px;
    border-radius: 7px 0 0 7px;
}

.btn {
    background-color: white;
    border: 0;
    width: 100px;
    font-size: 17px;
    border-radius: 0 7px 7px 0;
}

.input-box:focus {
    outline: none;
}

.btn:hover {
    cursor: pointer
}

.todo-item {
    list-style: none;
    font-size: 24px;
    padding: 10px;
    display: flex;
    justify-content:flex-start;
}

.edit-btn,
.del-btn {
    padding-left: 10px;
    margin-left: 10px;
    border: 0;
    background-color: #95b8b8;
    cursor: pointer;
    font-size: 10px;
}

.todo {
    width: 60%;
    text-align: left;
}

body.dark-mode {
    background-color: #000000;
    color: white;
  }
